
.homeP{
    
    display: flex;               /* Use flexbox layout */
    justify-content: center;      /* Center horizontally */
    align-items: center;          /* Center vertically */
    height: 100vh;                /* Set height to full viewport */
    text-align: center;           /* Center text horizontally */
    
}

h1{
    font-size: 2rem ;
}